
<html>
<head>
    
    <title>Skill/Job Reccommender</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../static/image/icon.jpg">
</head>
<body>
    {% include "header.html" %}
    {% include "nav.html" %}
    {% block content %}

    {% endblock %}
    <footer>
       <h2>Skill/Job Reccommender</h2>
    
        <div id="foot1">
        <div class="foot">
        <ul>
            <u>Home</u>
            <li>home</li>
            <li>Register</li>
            <li>login</li>
            <li>Profile</li>
            <li>contact</li>
        </ul>
        </div >
        <div class="foot">
            <ul>
                <u>Jobs</u>
                <li>All Jobs</li>
                <li>workfromhome Job</li>
                <li>Fresher Job</li>
            </ul>
            </div>
            <div class="foot">
                <ul>
                    <u>Career Service</u>
                    <li>Career Tips</li>
                    <li>Interview Tips</li>
                    <li>Resume Genarator</li>
                    
                </ul>
                
            </div>
            
        </div>
        
    </footer>

</body>
</html>
