{% include "nav.html" %}
{% include "header.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h4 style="margin:30px;color:red;">User Already Exists Please Try for New Username </h4>
    <button style="margin:30px;" class="btn btn-warning" value="Register"><a style="text-decoration:none;"href="{{url_for ('register')}}">Register</a></button>
    
</body>
</html>
{% endblock %}