{% extends 'profile.html' %}
{% block dashboard %}
<html>
    <head>
        <style>
            .img{
                height: 400px;
            }
        </style>
    </head>
<body>
<div class="container">
<h2>Sales Manager Description</h2>
<img src="../static/image/sale.jpg"width="100%">
<h2>What is a Sales Manager job?</h2>
A sales manager is responsible for leading the sales team to achieve sales goals. Sales managers are primarily responsible for recruiting and training team members, setting assignments, assessing and coordinating performance, and developing promotional processes. Sales managers are often expected to travel. 

Sales managers typically require a bachelor’s degree in business administration or related disciplines. In addition, sales managers typically require years of sales experience before becoming a manager. Sales managers are often promoted to sales manager positions. The best sales managers have strong analytical skills, excellent leadership skills, and outstanding customer service skills. 

The lifeline of a company or organisation is the sales department. The head of the team of a lot of salespeople is the sales manager who runs the company’s revenue engine. Sales managers hire, motivate, and guide high-performing sales teams to generate leads, meet or exceed sales forecasts, and ultimately meet customer needs. From pharmaceuticals to software to financial management, almost every business unit has a sales manager who builds relationships and closes transactions. The most successful sales managers have a complete understanding of the products and services they sell, can easily find leads, close deals, and guide and guide a team of sales reps to do the same. The ultimate goal is to attract customers, customers, and profits.
<h2>What does a Sales Manager do?</h2>
A sales manager directs and oversees the company’s sales policies, goals, and initiatives. Establish short-term and long-term sales strategies and assess the effectiveness of the current sales program. It is recommended to improve products or services to improve customer satisfaction and sales potential. 

A sales manager should be familiar with various concepts, practices, and procedures in the field. Planning and achieving goals depend on a wealth of experience and judgment. Direct and direct the work of others. A wide range of creativity and leeway are expected. A sales manager usually reports to the top management. Successful candidates understand the motivations of their customers to buy and how to meet their needs and wants effectively.

<h2> Manager Job duties include:</h2>
Some of the duties of a sales manager are listed below. The duties listed below explains the role that this position plays on a regular basis, how that position works within any organisation. 

Manage the sales program by accordingly assessing the strengths and weaknesses of the sales team. 
Monitor the program with over 500 accounts on all sales channels in the country and point out how to enter new markets. 
Help the company’s sales representatives to generate leads and start new deals. 
</div>
</body>
</html>
{% endblock %}