{% extends "base.html" %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    {% if succ %}
    <div class="alert alert-success" role="alert">{{ succ }}</div>
    
    {% endif %}
    <div class="container"style="margin-top:0;min-height 60px;">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3"style="margin-top:10px;">LogIn</h4>
            <hr style="border-color: grey;">
          
            
        </div>
    

        
      
        <form method="post" autocomplete="off" style="width:400px;"action="http://localhost:5000/login">
         
            <div class="form-group">
                <label>Username</label>
                <input type="text"name="name"class="form-control" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password"name="password"class="form-control" required>
            </div>
            {% if error %}
            <div class="alert alert-danger">
              {{error}}
            </div>
            {% endif %}
            <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        </form>
        <p class="my-2"style="background-color:block;"><span>Create account </span><a href="{{ url_for('register') }}">Register</a></p>
    </div>
</div></div>
<script>
    $("document").ready(function(){
        $(".alert").hide(4000);
          
        });
        
        
        

    
</script>
</body></html>
 
{% endblock %}