<html>
    <head>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">

</head>
<nav class="navbar navbar-expand-lg" id="navrr">
    <div class="container-fluid">
        <div class="navbar-header ">
            <a href="{{url_for ('home')}}" class="navbar-brand "id="toop">Skill/Job Recommenter</a>
        </div>
        <ul class="nav justify-content-end">
            
            <li class="nav-item "><a style="color: black;" href="{{url_for('profile')}}"class="nav-link active"><i class=" bi bi-person a6 ">profile</i></a></li>
           
          
            <li class="nav-item "><a  href="{{url_for('login')}}" class="nav-link active"><i class=" bi bi-box-arrow-right a6">Login</i></a></li>
            
            
            <li class="nav-item " ><a  href="{{url_for('contact')}}" class="nav-link active"><i class=" bi bi-person-lines-fill">ContactUs</i></a></li>
           
        </ul>
    </div>


</nav>
</html>
